@font-face {
  font-family: "iconfont"; /* Project id 2670661 */
  src: url('iconfont.woff2?t=1627028148737') format('woff2'),
       url('iconfont.woff?t=1627028148737') format('woff'),
       url('iconfont.ttf?t=1627028148737') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e6af";
}

.icon-shengao:before {
  content: "\e7ca";
}

.icon-iconsg:before {
  content: "\e60e";
}

.icon-icon:before {
  content: "\e668";
}

.icon-shouye:before {
  content: "\e636";
}

.icon-csdn:before {
  content: "\e60f";
}

.icon-icon1:before {
  content: "\e696";
}

.icon-name:before {
  content: "\e610";
}

.icon-qq1:before {
  content: "\e612";
}

.icon-yingyu:before {
  content: "\e652";
}

.icon-xuexiao:before {
  content: "\e613";
}

.icon-xieye:before {
  content: "\e655";
}

.icon-yingyushuiping:before {
  content: "\e623";
}

.icon-ziwopingjia:before {
  content: "\e626";
}

.icon-xingquaihao:before {
  content: "\e62c";
}

.icon-aihao:before {
  content: "\e614";
}

.icon-zhuanyemingcheng:before {
  content: "\e627";
}

.icon-csdn1:before {
  content: "\e638";
}

.icon-css:before {
  content: "\f187";
}

.icon-edu-s:before {
  content: "\e63b";
}

.icon-xuefenjidian:before {
  content: "\e635";
}

.icon-chushengriqi:before {
  content: "\e64a";
}

.icon-yingyu1:before {
  content: "\e63f";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-emailFilled:before {
  content: "\e63c";
}

.icon-shoucang:before {
  content: "\e6c8";
}

.icon-xuefenrending:before {
  content: "\e6ff";
}

.icon-logo-javascript:before {
  content: "\e602";
}

.icon-css1:before {
  content: "\e61f";
}

.icon-html:before {
  content: "\e632";
}

.icon-java:before {
  content: "\e639";
}

.icon-ziyuan:before {
  content: "\e656";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-vue:before {
  content: "\e69a";
}

.icon-email:before {
  content: "\e601";
}

.icon-sex:before {
  content: "\e653";
}

.icon-java1:before {
  content: "\ebd8";
}

.icon-jichuxinxi:before {
  content: "\e6ad";
}

.icon-shujujiegou-01:before {
  content: "\eac2";
}

.icon-zuopin:before {
  content: "\e603";
}

.icon-zhuanye:before {
  content: "\e637";
}

.icon-zhuanye1:before {
  content: "\e642";
}

.icon-xiexing:before {
  content: "\ea0c";
}

.icon-zhuanyezhuanyeke:before {
  content: "\e6a1";
}

.icon-xueli:before {
  content: "\e615";
}

.icon-zuopin1:before {
  content: "\e6a9";
}

.icon-xuexiao1:before {
  content: "\e824";
}

.icon-yingyu2:before {
  content: "\e6dd";
}

.icon-HTML-fill:before {
  content: "\eac6";
}

.icon-nianling:before {
  content: "\e6b2";
}

.icon-shoucang1:before {
  content: "\e629";
}

.icon-ziyuan25:before {
  content: "\e609";
}

.icon-jinengliang:before {
  content: "\e693";
}

.icon-jinengliang-xian:before {
  content: "\e694";
}

.icon-xuefen:before {
  content: "\e671";
}

.icon-guanyuwo:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-leimupinleifenleileibie2:before {
  content: "\e7f8";
}

.icon-gerenzhongxin:before {
  content: "\e60a";
}

.icon-jilu:before {
  content: "\e69e";
}

.icon-msg:before {
  content: "\e61d";
}

.icon-icon_diary:before {
  content: "\e611";
}

.icon-jilu1:before {
  content: "\e61e";
}

.icon-guanyuwo1:before {
  content: "\e62b";
}

.icon-bokeblogger3:before {
  content: "\e722";
}

.icon-gerenzhongxin1:before {
  content: "\e606";
}

.icon-jilu2:before {
  content: "\e604";
}

.icon-huaban:before {
  content: "\e618";
}

.icon-jilu3:before {
  content: "\e75b";
}

.icon-pinglun1:before {
  content: "\e66d";
}

.icon-xiangmu:before {
  content: "\e76e";
}

.icon-houtaiguanli:before {
  content: "\e60b";
}

.icon-liuyan:before {
  content: "\e6a8";
}

.icon-jilu4:before {
  content: "\e60d";
}

.icon-biaoqian:before {
  content: "\e608";
}

.icon-gerenshezhi:before {
  content: "\e724";
}

.icon-menu_home:before {
  content: "\e65c";
}

.icon-fenlei:before {
  content: "\e63a";
}

.icon-xiangmu1:before {
  content: "\e65e";
}

